[Unit]
Description=NAS filesystem mount(vol2)
After=NetworkManager-wait-online.service

[Mount]
What=//192.168.1.2/vol2
Where=/home/awalder/mnt/vol2
Type=cifs
Options=user=turska,password=ruttuinenRessukka7778,uid=1000,gid=985,rw

[Install]
WantedBy=multi-user.target
