[Unit]
Description=NAS filesystem mount(media)
After=NetworkManager-wait-online.service

[Mount]
What=//192.168.1.2/media
Where=/home/awalder/mnt/media
Type=cifs
Options=user=turska,password=ruttuinenRessukka7778,uid=1000,gid=985,rw

[Install]
WantedBy=multi-user.target
